# ========================
# OS and Editor Files
# ========================
# macOS
.DS_Store
# Windows
Thumbs.db
# Vim swap files
*.swp
*~

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ascii-env/
*.egg-info/
dist/
build/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# ========================
# Rust
# ========================
target/
**/*.rs.bk

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Compiled Output / Binaries
# ========================
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# ========================
# Logs
# ========================
*.log
